body{
    background-color:beige;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; 
}



.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99582a;
    position: sticky;
    top: 0;

}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 8px;
}

.navbar ul li{
    font-family: unbound;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 25px;
    transition-duration: 0.4s;
}

.navbar li :hover{
    background-color: beige;
}

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;